:root {
  --white: #FFFFFF;
  --black: #000000;
  --very--light-grey: #c7c7c776;
  --text-input-field: #F7F7F7;
  --hospital-blue: #e8f0fe;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--text-input-field);
  background-color: var(--very--light-grey);
  color: var(--white);
}

.logo {
  width: 100px;
  margin-right: 24px;
}

.navbar-menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 60px;
  color: black;
}

.navbar-menu li {
  padding: 10px;
  font-size: var(--md);
}

li a {
  color: var(--black);
  font-size: var(--md);
  text-decoration: none;
}
